.cardList-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.no-results-container {
    display: flex;
    justify-content: center;
    align-items: center;
}