.Search {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 55px;
  width: 60%;

  &-input {
    font-family: $regular-font;
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
    border: 2px solid $blue-color;
    color: $blue-color;
    border-radius: 20px;
    min-width: 100%;
    height: 50px;
    outline: none;
  }

  &-icon {
    position: absolute;
    right: 12px;
    cursor: pointer;
  }
  &-order-icon {
    margin-left: 10px;
  }
}

.home-container {
  gap: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .home-container {
    width: 100%;
    gap: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}