//colors
$primary-color: #ef473c;
$secondary-color: #5d5d5f;
$blue-color: #255ff8;
$white-color: #ffffff;
$success-color: #4caf50;
$darker-success-color: #388e3c;
$gray-border-color: #cccccc;
$gray-color:#c3c3c3;
$dark-color: #1b1f26;
$light-color: #f4f4f4;

$box-shadow: 0 2px 20px rgba(0,0,0,.2);

//font
$regular-font: "Raleway", sans-serif;
