//colors
$primary-color: #ef473c;
$secondary-color: #5d5d5f;
$blue-color: #255ff8;
$white-color: #ffffff;
$success-color: #4caf50;
$darker-success-color: #388e3c;
$gray-border-color: #cccccc;

//font
$regular-font: "Raleway", sans-serif;
